name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --features python
    - name: Build CLI
      run: cargo build --verbose --features cli --bin iri-cli
    - name: Check examples
      run: cargo check --verbose --examples
    - name: Run tests
      run: cargo test --verbose
